<!-- src/app/todos/todos.component.html -->
<section class="todoapp">
  <app-item-editor #editor  [onEdit]="true"></app-item-editor>
  <app-todo-list-header #item (add)="onAddTodo($event)"></app-todo-list-header>
  <app-todo-list [todos]="todos" (toggleComplete)="onToggleTodoComplete($event)"
                 (remove)="onRemoveTodo($event)"
                 (edit)="editor.startEdit($event)">
                 <!-- (edit)="item.editTodo($event)" -->
                 
  </app-todo-list>
  <app-todo-list-footer [todos]="todos"></app-todo-list-footer>
</section>